// variables
@import "../variables/variables";

@mixin display($direction) {
  display: flex;
  flex-direction: $direction;
}

@mixin sideBarHeadings() {
  color: $paragraphFont;
  font-size: 12px;
  margin: 13px 0px;
}
.side-link-colored {
  background-color: #f3fcfc;
  // background-color: #ff1c1c;
  margin-left: 0;
  width: 100%;
  border-left: 3px solid #39cdcc;
  @include display(row);
  align-items: center;
  box-sizing: border-box;
}

.side-bar {
  background-color: white;
  margin-top: 80px;
  padding-top: 25px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  @include display(column);
  align-items: flex-start;
  padding-left: 0px;
  padding-right: 0px;

  .side-link {
    @include display(row);
    margin-bottom: 8px;
    margin-top: 7px;
    padding-left: $layoutPadding;

    h5 {
      margin-left: 8px;
      font-size: 16px;
      color: #213f7d;
      margin-top: 5px;
    }
  }
  .organization {
    padding-left: $layoutPadding;

    select {
      border: none;
      background-color: white;
      color: #213f7d;
      font-size: 16px;
      margin-left: 8px;
    }
  }

  h3 {
    @include sideBarHeadings();
    padding-left: $layoutPadding;
  }
}

// *************************************************
@media screen and (max-width: $mediaQueryPhone) {
  .side-bar {
    width: 10%;
    .side-link {
      h5 {
        display: none;
      }
    }
    .organization {
      padding-left: $layoutPadding;

      select {
        display: none;
      }
      label {
        display: none;
      }
    }

    h3 {
      display: none;
    }
  }
}

//*****************************************************
@media screen and (max-width: $mediaQueryTablet) {
  .side-bar {
    .side-link {
      h5 {
        display: none;
      }
    }
    .organization {
      padding-left: $layoutPadding;

      select {
        display: none;
      }
      label {
        display: none;
      }
    }

    h3 {
      display: none;
    }
  }
}

// *************************
@media screen and (max-width: 500px) {
  #mobile-menu {
    display: none;
    width: 10%;
    box-sizing: border-box;
  }
  .section-content {
    width: 90%;
  }
  .toggle-mobile-menu {
    display: none;
  }
}

// *********media query phone*********************
@media screen and (max-width: $mediaQueriesPhone) {
  .side-bar {
    // display: none;
    width: 10%;
  }
  .toggle-mobile-menu {
    display: block;
    margin-bottom: 10px;
    color: $primaryColor;
  }
}

// ***************************media for deskstop

@media screen and (min-width: 500px) {
  .toggle-mobile-menu {
    display: none;
  }
  #mobile-menu {
    display: none;
    width: 10%;
    box-sizing: border-box;
  }
}

.toggle-mobile-menu {
  color: $primaryColor;
}
