.nav-bar {
  z-index: 2;
  width: 100%;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  background-color: white;
  box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
  align-items: center;
  align-content: center;
}
.nav-bar .logo-container {
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  width: 18%;
}
.nav-bar .logo-container .logo {
  width: 1.2rem;
}
.nav-bar .logo-container .company-name {
  width: 6.2rem;
  margin-top: 1px;
  margin-left: 5px;
}
.nav-bar .search-bar {
  display: flex;
  flex-direction: row;
  width: 40%;
}
.nav-bar .search-bar input {
  opacity: 0.7;
  padding-left: 20px;
  border-radius: 8px;
  height: 40px;
  font-size: 14px;
  width: 400px;
  background: #ffffff;
  color: #545f7d;
  border: 1px solid #213f7d;
  border-right: none;
}
.nav-bar .search-bar .search-icon {
  width: 45px;
  height: 40px;
  z-index: 2;
  background-color: #39cdcc;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -10px;
  color: #ffffff;
  justify-content: space-around;
}
.nav-bar .more-info {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
  color: rgb(33, 63, 125);
}
.nav-bar .more-info h3 {
  font-size: 15px;
}
.nav-bar .more-info a {
  color: rgb(33, 63, 125);
  text-decoration: underline;
}
.nav-bar .more-info .user-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.nav-bar .more-info .username {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.nav-bar .more-info .username div {
  margin-right: 10px;
}

/********************************************/
@media screen and (max-width: 500px) {
  .nav-bar .logo-container {
    width: 20%;
  }
  .nav-bar .logo-container .logo {
    width: 1.2rem;
  }
  .nav-bar .logo-container .company-name {
    width: 5.5rem;
    margin-top: 2px;
    margin-left: 5px;
  }
  .nav-bar .search-bar {
    margin-top: 10px;
    display: none;
    width: 0%;
  }
  .nav-bar .search-bar input {
    padding-left: 10px;
    height: 30px;
    width: 200px;
  }
  .nav-bar .search-bar .search-icon {
    height: 30px;
  }
  .nav-bar .more-info {
    width: 80%;
    justify-content: flex-start;
    margin-top: 20px;
  }
  .nav-bar .more-info h3 {
    margin-left: 15px;
  }
  .nav-bar .more-info a {
    margin-right: 15px;
  }
  .nav-bar .more-info .user-image {
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }
  .nav-bar .more-info .username div {
    margin-right: 10px;
    font-size: 10px;
    margin-left: 15px;
  }
}
.side-link-colored {
  background-color: #f3fcfc;
  margin-left: 0;
  width: 100%;
  border-left: 3px solid #39cdcc;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
}

.side-bar {
  background-color: white;
  margin-top: 80px;
  padding-top: 25px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0px;
  padding-right: 0px;
}
.side-bar .side-link {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  margin-top: 7px;
  padding-left: 25px;
}
.side-bar .side-link h5 {
  margin-left: 8px;
  font-size: 16px;
  color: #213f7d;
  margin-top: 5px;
}
.side-bar .organization {
  padding-left: 25px;
}
.side-bar .organization select {
  border: none;
  background-color: white;
  color: #213f7d;
  font-size: 16px;
  margin-left: 8px;
}
.side-bar h3 {
  color: #545f7d;
  font-size: 12px;
  margin: 13px 0px;
  padding-left: 25px;
}

@media screen and (max-width: 12px) {
  .side-bar {
    width: 10%;
  }
  .side-bar .side-link h5 {
    display: none;
  }
  .side-bar .organization {
    padding-left: 25px;
  }
  .side-bar .organization select {
    display: none;
  }
  .side-bar .organization label {
    display: none;
  }
  .side-bar h3 {
    display: none;
  }
}
@media screen and (max-width: 1046px) {
  .side-bar .side-link h5 {
    display: none;
  }
  .side-bar .organization {
    padding-left: 25px;
  }
  .side-bar .organization select {
    display: none;
  }
  .side-bar .organization label {
    display: none;
  }
  .side-bar h3 {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  #mobile-menu {
    display: none;
    width: 10%;
    box-sizing: border-box;
  }
  .section-content {
    width: 90%;
  }
  .toggle-mobile-menu {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .side-bar {
    width: 10%;
  }
  .toggle-mobile-menu {
    display: block;
    margin-bottom: 10px;
    color: #213f7d;
  }
}
@media screen and (min-width: 500px) {
  .toggle-mobile-menu {
    display: none;
  }
  #mobile-menu {
    display: none;
    width: 10%;
    box-sizing: border-box;
  }
}
.toggle-mobile-menu {
  color: #213f7d;
}/*# sourceMappingURL=dashboard.css.map */