@import "../variables/variables";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $primaryColor;
  margin: 0;

  .logo {
    width: 5rem;
  }
  .company-name {
    margin-top: 1px;
    margin-left: 5px;
    font-weight: bolder;
    font-size: 5rem;
  }
}
